.flexibilidad-content {
    display: flex;
}

.flexibilidad-content>img {
    /* border: 1px solid red; */
    inline-size: 25rem;
    flex-shrink: 0;
}

.flexibilidad-content>div {
    background: lightslategray;
    border: 1px solid red;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; */
    flex: 1;
}