.justify-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.spaceBetween-content {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.spaceBetween-content nav {
    display: flex;
    align-items: center;
}

.spaceBetween-content nav ul {
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    gap: 1rem;
}

.spaceBetween-content img {
    block-size: 6.25rem;
    border-radius: 50%;
}